@use "bootstrap/scss/bootstrap.scss";
@use "bootstrap/scss/bootstrap-grid.scss";

.c4c-navbar {
    @extend .navbar;
    @extend .navbar-light;
    @extend .bg-light;
}

.c4c-container {
    @extend .container;
}

.c4c-row {
    @extend .row;
    @extend .justify-content-center;
}

.c4c-col {
    @extend .col;
    @extend .align-self-center;
}

.c4c-game {
    @extend .col-auto
}

.instructions {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.4em;
}

.game {
    display: flex;
    justify-content: center;
}
